html {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}

body {
  background-color: blueviolet;
}

.frame {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 20px 30px 20px;
  border-radius: 10px;
}

.adviceNo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  font-size: 12px;
  letter-spacing: 2px;
}

.adviceContent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 28px;
}

.patternDivider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.diceImage {
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -65px;
}

.diceImage > img {
  height: 25px;
  width: 25px;
}

.errorClass {
  color: red;
}
